.backdrop {
  position: fixed;
  top: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: scale(1);
  transition-property: inherit;
  transition-duration: 1000ms;
  padding: 20px 20px;
  background: rgba(0, 0, 0, 0.2);
  width: 100%;
  min-height: 100%;
}
