.container {
  width: 100%;
  margin: 0 auto;
}

@media screen and (min-width: 480px) {
  .container {
    max-width: 480px;
  }
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}

@media screen and (min-width: 1024px) {
  .container {
    max-width: 1024px;
  }
}

@media screen and (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .header {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.56)), to(rgba(0, 0, 0, 0.56))), url(../images/header_lib_mobile@2x.png);
    background-image: linear-gradient(rgba(0, 0, 0, 0.56), rgba(0, 0, 0, 0.56)), url(../images/header_lib_mobile@2x.png);
    height: 230px;
  }
}

.header {
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.56)), to(rgba(0, 0, 0, 0.56))), url(../images/header_lib_mobile.png);
  background-image: linear-gradient(rgba(0, 0, 0, 0.56), rgba(0, 0, 0, 0.56)), url(../images/header_lib_mobile.png);
  height: 230px;
  background-repeat: no-repeat;
  background-size: cover;
  padding-right: 20px;
  padding-left: 21px;
}

.header__icon {
  margin-top: 46px;
}

.header__name {
  color: transparent;
  display: inline-block;
}

.header__navigation {
  display: inline-block;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.header__navigation-list {
  list-style: none;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header__navigation-item--lastchild {
  margin-left: 30px;
  border-bottom: 3px solid #FF6B08;
}

.header__navigation-link {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 14px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
  width: 100%;
  height: 14px;
  display: flex;
  text-decoration: none;
}

.header__button-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
}

.header__button {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
  padding: 14px 36px 12px 36px;
  max-width: 129.53px;
  height: 44px;
  background: transparent;
  border: 1px solid #FFFFFF;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 5px;
  margin-top: 49px;
}

.header__button:hover, .header__button:focus {
  cursor: pointer;
  background: #FF6B01;
  border: transparent;
}

.header__button--last-child {
  margin-left: 30px;
}

@media screen and (min-width: 480px) {
  .header {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.56)), to(rgba(0, 0, 0, 0.56))), url(../images/header_lib_tablet.png);
    background-image: linear-gradient(rgba(0, 0, 0, 0.56), rgba(0, 0, 0, 0.56)), url(../images/header_lib_tablet.png);
    height: 230px;
    padding-left: 71px;
    padding-right: 70px;
  }
  .header__name {
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 30px;
    line-height: 35px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
    color: #FFFFFF;
    margin-right: 30px;
  }
  .header__button--first-child {
    margin-left: 35px;
  }
}

@media (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .hero {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.56)), to(rgba(0, 0, 0, 0.56))), url(../images/header_lib_tablet@2x.png);
    background-image: linear-gradient(rgba(0, 0, 0, 0.56), rgba(0, 0, 0, 0.56)), url(../images/header_lib_tablet@2x.png);
  }
}

@media screen and (min-width: 768px) {
  .header__name {
    margin-right: 304px;
  }
  .header__navigation-item--lastchild {
    margin-left: 39px;
  }
  .header__button {
    max-width: 136px;
    height: 44px;
    padding: 14px 38px 12px 38px;
  }
  .header__button--first-child {
    margin-left: 170px;
  }
  .header__button--last-child {
    margin-left: 15px;
  }
}

@media screen and (min-width: 1024px) {
  .header {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.56)), to(rgba(0, 0, 0, 0.56))), url(../images/header_lib_desktop.png);
    background-image: linear-gradient(rgba(0, 0, 0, 0.56), rgba(0, 0, 0, 0.56)), url(../images/header_lib_desktop.png);
    padding-left: 71px;
    padding-right: 71px;
  }
  .header__name {
    margin-right: 564px;
  }
  .header__button--first-child {
    margin-left: 298px;
  }
}

@media (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .hero {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.56)), to(rgba(0, 0, 0, 0.56))), url(/images/header_lib_desktop@2x.png);
    background-image: linear-gradient(rgba(0, 0, 0, 0.56), rgba(0, 0, 0, 0.56)), url(/images/header_lib_desktop@2x.png);
  }
}
/*# sourceMappingURL=main.css.map */