.backdrop {
  position: fixed;
  top: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: scale(1);
  transition-property: inherit;
  transition-duration: 500ms;
  padding: 20px 20px;
  background: rgba(0, 0, 0, 0.8);
  width: 100%;
  min-height: 100%;
  z-index: 10;
}