@media screen and (min-width: 320px) and (max-width: 767px) {
  .is-hidden {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .is-hidden {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
  }
}

@media screen and (min-width: 1200px) {
  .is-hidden {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
  }
}
