$main-font: 'Roboto', sans-serif;

$main-color: #ffffff;
$secondary-color: #000000;
$details-color: #ff6b08;
$error-color: #ff001b;
$footer-color: #545454;
$modal-categories: #8c8c8c;
$footer-bg: #f7f7f7;

