    <header class="header">
    <div class="container">
    <h2 class="header__name">
      <svg class="header__icon" width="24" height="24" alt="film">
      <use href="./images/film.svg#icon-film"></use>
    </svg>
    Filmoteka</h2>
    <naw class="header__navigation">
      <ul class="header__navigation-list">
        <li class="header__navigation-item">
          <a class="header__navigation-link" href="./index.html">Home</a>
        </li>
        <li class="header__navigation-item header__navigation-item--lastchild">
          <a class="header__navigation-link" href="#">my library</a>
        </li>
      </ul>
    </naw>
    <ul class="header__button-list">
      <li class="header__button-item">
        <button class="header__button header__button--first-child" type="button">Watched</button>
      </li>
      <li class="header__button-item">
        <button class="header__button header__button--last-child" type="button">queue</button>
      </li>
    </ul>
  </div>
  </header>
