.box{
  width: 40px;
  height: 40px;
  padding: 0;
  border: 0px;
  border-radius: 5px;
  background-color: #fff;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.333;
  
  &:hover{
    cursor: pointer;
  }
}

.pagination{
  display: flex;
  justify-content: center;
  margin-bottom: 40px;

  &_buttons{
    display: flex;
    justify-content: center;
  }

  &_current-page{
    border-radius: 5px;
    background-color: $details-color;
    color: #fff;
    
    &:hover{
      cursor: initial;
    }
  }

  &_hider,
  &_first-page,
  &_last-page{
    display: none;
  }

  &_right,
  &_left{
    background: #F7F7F7;
  }
}

@media screen and (min-width: 768px){
  .pagination{
    margin-bottom: 60px;

    &_hider{
      display: flex;
      align-items: baseline;
      justify-content: center;
      text-align: center;


      &:hover{
        cursor: initial;
      }
    }

    &_dots{
      margin-top: 8px;
    }

    &_first-page{
    visibility: hidden;
    }

    &_hider-first{
      visibility: hidden;
    }

    &_first-page,
    &_last-page{
      display: inline-block;

    }
    &_less-two,
    &_less-one{
      visibility: hidden;
    }
}
}