.pagination{
  display: flex;
  justify-content: center;

  &_buttons{
    display: flex;
    justify-content: center;
    width: 374px;
  }

  &_current-page{
    border-radius: 5px;
    background-color: $details-color;
    color: #fff;
  }

  &_hider,
  &_first-page,
  &_last-page{
    display: none;
  }

  &_right,
  &_left{
    background: #F7F7F7;
    transform: matrix(-1, 0, 0, 1, 0, 0);
      }
}

@media screen and (min-width: 768px){
  .pagination{
    &_hider,
    &_first-page,
    &_last-page{
      display: inline-block;
    }
}
}